FIAP - Redes Neurais Artificiais, Deep Learning e Algoritmos Genéticos 

# Aula 03 - Trabalhando com Perceptron

## Implementação de um Perceptron simples

In [1]:
# Definir a função de agregação de informação (soma poderada)
def soma(X, W):
    soma = 0
    for i in range(len(X)): 
        soma += X[i]*W[i]
    return soma

In [2]:
# Definir a função de ativação: FUNÇÃO DEGRAU
def funcao_ativacao_degrau(u, b=0):
    if u+b>=0:
        return 1 
    else:
        return 0

In [3]:
X = [1, 2, 3]       # entradas
W = [0.1, 0.2, 0.3] # pesos
b = 0               # viés

In [4]:
u = soma(X, W)
resposta = funcao_ativacao_degrau(u, b)
print("Para os parametros de entrada (X e W), o neurônio{0} foi ativado, pois o f({1:.2f})={2}".
      format("" if resposta == 1 else " não", 
             u,
             resposta))

Para os parametros de entrada (X e W), o neurônio foi ativado, pois o f(1.40)=1

## Casos de aplicação do perceptron

Vamos analisar a base `escolha_faculdade.xlsx` com exemplos de faculdades identificadas pelo ID e com um conjunto de variáveis que as descrevem. As variáveis são: 

- reconhecida_MEC: a faculdade é reconhecida pelo MEC? 1=sim ; 0=não
- facilidade_pagamento: a faculdade apresenta facilidades para pagamento? 1=sim ; 0=não
- flexibilidade_ensino: o quão flexível é o método de ensino? 1=somente presencial ; 2=somente EAD ; 3=misto
- entrada_mercado: o que a faculdade oferece para facilitar a entrada do aluno no mercado de trabalho? 0=sem suporte ; 1=feiras ; 2=feiras e estágios ; 3=feiras, estágios e convênios com empresas
- score_infraestrutura: qual nota de 0 a 100 a escola possui para sua infraestrutura? 
- empregabilidade: qual a porcentagem de alunos egressos empregados? 
- acesso_facil: a localização possui fácil acesso, como metrô, ônibus, estacionamento? 1=sim ; 0=não

In [5]:
# Pesos já fornecidos 
pesos = [ 0.10, 0.05, 0.05, 0.2, 0.25, 0.3, 0.05 ]

In [6]:
import pandas as pd
import math

In [9]:
df = pd.read_excel("escolha_faculdade.xlsx", index_col="ID")

In [10]:
df.head()

,reconhecida_MEC,facilidade_pagamento,flexibilidade_ensino,entrada_mercado,score_infraestrutura,empregabilidade,acesso_facil
ID,,,,,,,
1,1,1,1,3,50,78,1
2,1,0,2,1,60,91,0
3,1,1,1,1,55,13,1
4,0,1,3,0,78,68,1
5,0,1,2,2,74,72,0

In [11]:
escolas = df.T

In [12]:
escolas

ID                    1   2   3   4   5   6   7   8   9   10
reconhecida_MEC        1   1   1   0   0   1   1   0   1   0
facilidade_pagamento   1   0   1   1   1   0   1   1   0   1
flexibilidade_ensino   1   2   1   3   2   2   1   3   3   1
entrada_mercado        3   1   1   0   2   2   3   0   3   1
score_infraestrutura  50  60  55  78  74  73  56  30  89  30
empregabilidade       78  91  13  68  72  47  68  13  89  25
acesso_facil           1   0   1   1   0   0   1   1   0   1

In [13]:
soma(escolas[1],pesos)

36.75

In [14]:
def funcao_classificacao(u,b=0):
  if u+b>35:         #35 é um limi
    return "Sim"
  else:
    return "Nao"

In [15]:
elegibilidade=[]
for i in range(1,11):
  
  u = soma(escolas[i],pesos)
  resp = funcao_classificacao(u,)
  elegibilidade.append(resp)

In [16]:
df["Elegivel?"] = elegibilidade

In [17]:
escolas

ID                    1   2   3   4   5   6   7   8   9   10
reconhecida_MEC        1   1   1   0   0   1   1   0   1   0
facilidade_pagamento   1   0   1   1   1   0   1   1   0   1
flexibilidade_ensino   1   2   1   3   2   2   1   3   3   1
entrada_mercado        3   1   1   0   2   2   3   0   3   1
score_infraestrutura  50  60  55  78  74  73  56  30  89  30
empregabilidade       78  91  13  68  72  47  68  13  89  25
acesso_facil           1   0   1   1   0   0   1   1   0   1

In [18]:
df[ df["Elegivel?"] == "Sim"]

,reconhecida_MEC,facilidade_pagamento,flexibilidade_ensino,entrada_mercado,score_infraestrutura,empregabilidade,acesso_facil,Elegivel?
ID,,,,,,,,
1,1,1,1,3,50,78,1,Sim
2,1,0,2,1,60,91,0,Sim
4,0,1,3,0,78,68,1,Sim
5,0,1,2,2,74,72,0,Sim
7,1,1,1,3,56,68,1,Sim
9,1,0,3,3,89,89,0,Sim

In [22]:
def funcao_regressao(u,b=0):
  return (u*u+b)

In [23]:
funcao_regressao(3)

9

In [25]:
scores =[]

for i in range(1,11):
  u = soma(escolas[i],pesos)
  resp = funcao_regressao(u,0)
  scores.append(resp)